BROKER=xxx.s1.eu.hivemq.cloud
PORT=8883

# Switches
USE_TLS=True
USE_LAST_WILL=True
USE_AUTHENTICATION=True
# otherwise MAX_RECONNECT_COUNT is used
USE_RECONNECT_FOREVER=True

# Topic to listen to
TOPIC=listening/to/tpic
LAST_WILL_TOPIC=sending/lastwill

# Authentication to access the MQTT server
USERNAME=testuser
PASSWORD=testpassword

# connection parameters
FIRST_RECONNECT_DELAY=1
RECONNECT_RATE=2
MAX_RECONNECT_COUNT=12
MAX_RECONNECT_DELAY=60
QOS=1
# identifies the mqtt instance. The complete client id is generated with this prefix, the hostname and the current timestamp
CLIENT_ID_PREFIX=pir-watcher